body {
    background-color: #12121f;
    background-image: url('stars.png'); 
    background-repeat: no-repeat;
    color: #fff;
}

body * {
    font-family: monospace;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin: 0;
}

a {
    border: 1px solid #0b0b1a;
    background-color: green;
}

a, a:hover, a:visited {
    color: #fff;
    text-decoration: none;
}


.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

div.wrapper h1 {
    text-align: center;
    margin: 100px auto;
    font-size: 2.4em;
}
